@charset "UTF-8";

body{
    overflow: hidden;
}

.container{
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: row;
    margin: auto;
}

@media (max-width: 600px){
    .container{
        flex-direction: column;
    }
}

div{
    border-radius: 10%;
    display: flex;
    height: auto;
}

.boximage{
    display: flex;
    margin: 0 5% 1px 5%;
    padding: 0;
    width: 41%;
    height: auto;

}

.imagelogo{
    width: 90%;
    height: auto;
    margin: 0;
    padding: 0;
}

div > h2{
    font-size: clamp(3em, 5vw, 5em);
    padding: 0 0 0 0;
    margin: auto 0 auto 0;
    text-align: center;
    margin-top: none;
}

div > h2#cadastro{
    font-size: clamp(2em, 5vw, 5em);
}

div > h2#Alteracoesconcluidas{
    font-size: clamp(2em, 4vw, 5em);
}

#passcontainter{
    position: relative;
    margin: 0;
    width: auto;
}

#eyepass{
    visibility: hidden;
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 0;
}

#eyes{
    visibility: visible;
    width: 20px;
    height: 20px;
}

label{
    font-size: clamp(1em, 2vw, 3em);
}

input {
    font-size: 1.5em;
    width: clamp(50%, 60vw, 80%);
    margin-bottom: 1%;
    border-radius: 15px;
}

input.pass{
    width: clamp(51.5%, 100vw, 81.5%);
}

input#username{
    width: clamp(60%, 50vw, 50%);
}

input#nome{
    width: clamp(60%, 50vw, 82%);
}

#principalbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin: 0 20% 5% 20%;
    grid-template-columns: repeat(2, auto);

}

input[type="submit"], input[type="reset"]{
    background-color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 2%;
    margin: 0 0 0 5%;
    border-radius: 15px;
    padding: 1%;
    width: clamp(80%, 100vw, 100%);
}

p{
    font-size: 1em;
    text-align: center;
    margin: 1% auto;
}

.error-message{
    display: none;
    color: red;
    font-size: 0.9em;
}

/*
.google-login{
    display: flex;
    background-image: var(--googlelogo);
    background-repeat: no-repeat;
    
}*/

.borderform{
    background-color: var(--formborder);
    height: clamp(70vh, 50vw, 97vh);
    width: clamp(30%, 50vw, 90%);
    display: flex;
    position: relative;
    
}

#form{
    background-color: white;
    padding: 5%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
    width: clamp(30%, 50vw, 90%);
    height: auto;
}

.divbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    margin-left: 28%;
}

.login-button{
    display: flex;
    align-items: center;
    padding: none;
    margin: 0;
    margin-left: -20%;
    background: none;
    border: none;
    width: 30%;
    height: auto;
}

.button-icons{
    width: 30%;
    height: auto;
    margin-left: none;
    padding: none;
    margin: none;
    background: none;
    border: none;
    display: block;
}

#forgotaccount{
    display: inline;
    height: auto;
    justify-content: left;
    align-items: center;
    line-height: 1.5em;
    font-size: clamp(1em, 5vw 2em);
}

/* Daqui para baixo faz parte da tela de DefinicaodePerfil.html */

select{
    width: 50%;
    height: 12%;
    font-size: 1.5em;
}

/* input#username{
    width: 60%;
} */

#imgalteracoes{
    width: 41%;
    margin: auto;
}