html, body{
    overflow: hidden;
}

button{
    visibility: hidden;
    cursor: pointer;
}

#volumeicon{
    visibility: visible;
}

main{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: var(--fontecomic);
    color: white;
    font-size: 7em;
    margin-top: 5%;
}

div.nivelselect{
    background-color: white;
    border: 20px solid var(--presstoplay);
    border-radius: 20px;
    display: block;
    margin: auto;
    text-align: center;
    width: 700px;
}

h2{
    font-size: 5em;
    font-family: var(--fontecomic);
    color: var(--presstoplay);
    margin: 0;
    text-decoration: none;
}

a{
    text-decoration: none;
}

h2:hover{
    color: var(--backgroundgames);
}

a:hover{
    text-decoration: underline;
    color: var(--backgroundgames);
}

