body{

    background-color: #a145c1;
    overflow: hidden;
}

.Relogio img{

    display: flex;
    margin-top: auto;
    width: 6%;
}

.conteiner { 

    display: flex;
    align-items: self-start;
    gap: 15%;

}

.texto {    
    
    display: flex;
    width: 500px;
    color: white;
    margin-right: auto;
}


.conteiner img {

    display: flex;
    display: block;
    width: 55%;
    margin-left: auto;  
    
}

