body{
    font-family: var(--fontecomic);
    display: block;
    position: relative;
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;

}

#jogo{
    display: none;
    margin-top: none;
    flex-direction: row;
    width: auto;
    grid-template-columns: repeat(2, auto);
}

#Resultado{
    margin-top: 20px;
}

#startButton{
    display: block;
    margin: 10px auto; /* Margem automática para centralizar */
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    width: 200px;
    color: black;
    font-size: 2em;
    
}

#EnviarAReposta{
    display: block;
    margin: 10px auto; /* Margem automática para centralizar */
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    width: 200px;
    color: black;
    font-size: 2em;
}

input{
    width: 30%;
    height: auto;
    font-size: 2em;
    border-radius: 15px;
}

h1{
    font-size: 5em;
    margin-bottom: 0;
}

h2{
    margin-top: none;
    font-size: 4em;
    color: #5dc0eb;
    -webkit-text-stroke-color: #e16868;
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
}

p{
    font-size: 2em;
    color: white;
    font-weight: bold;
}