body{

    background-color: #a145c1;

}


.Relogio img{

    display: flex;
    margin-top: auto;
    width: 6%;
}

.conteiner { 

    display: flex;
    align-items: center;
    gap: 15%;

}

.texto {    
    

    display: flex;
    font-size: 3em;
    color: white;
    

}


.conteiner img {

    display: flex;
    display: block;
    width: 55%;
    margin-left: auto;  
    
}



#BotaoReiniar{

    display: none;


}

#mensagem{

    display: none;
}
