body{

    background-color: #a145c1;

}


#forca{

    max-width: 900px;
    margin-left: 500px;
    

}

#exibicao-palavra{

    font-size: large;
    color: white;
    
}

#circulos